{% extends "base.html" %}
{% block title %}
    Skin Cancer Classifier
{% endblock %}

{% block body %}
    <div class="container">
        <form action="/results" method="POST" enctype=multipart/form-data class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md">
                    <h4 class="mb-3">Skin Cancer Classifier</h4>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Place skin cancer image for classification</label>
                        <input class="form-control" type="file" id="formFile" name="file" accept="image/*" onchange="loadFile(event)" required>
                        <div style="color: red">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for msg in messages %}
                                    <p> {{msg}} </p>
                                {% endfor %}
                            {% else %}
                                <p>&nbsp</p>
                            {% endif %}
                        {% endwith %}
                        </div>
                    </div>

                    <hr class="my-4">
            
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="resnet" name="nn" value="0">
                        <label class="form-check-label" for="resnet">ResNet152V2</label>
                    </div>
            
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="inception" name="nn" value="1">
                        <label class="form-check-label" for="inception">InceptionV3</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="inceptionresnet" name="nn" value="2">
                        <label class="form-check-label" for="inceptionresnet">InceptionResNetV2</label>
                    </div>
                </div>
                <div class="col-sm-5 d-flex align-items-center justify-content-center">
                    <img id="output" src={{ url_for('static', filename='placeholder.png' ) }} 
                        style="width: 260px; max-height: 260px;" alt="Image Preview" />
                    <script>
                        var loadFile = function (event) {
                            var reader = new FileReader();
                            reader.onload = function () {
                                var output = document.getElementById('output');
                                output.src = reader.result;
                            };
                            reader.readAsDataURL(event.target.files[0]);
                        };
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-lg">
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    

{% endblock %}